#presentacion{
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;
}
#proyecto-1{
    background-image: url('primer-intento.png');
}
#proyecto-2{
    background-image: url('series-reseña.png');
}
#proyecto-3{
    background-image: url('google-pirata.png');
}
.proyecto{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.tex-shadow-1{
    text-shadow: -2px 0px 6px rgba(0, 0, 0, 1);
}
h3{
    color: #641e16;
}