#presentacion{
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url('imagenes/back.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#habilidades{
    background-color: #FAE5D3;
}
#proyectos{
    background-color: #f3a4b0;
}
#testimonios{
    background-color: #FAE5D3;
}
#proyecto-1{
    background-image: url('imagenes/primer-intento.png');
}
#proyecto-2{
    background-image: url('imagenes/series-reseña.png');
}
#proyecto-3{
    background-image: url('imagenes/google-pirata.png');
}
.proyecto{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.text-shadow-1{
    text-shadow: -2px 2px 2px rgb(220, 105, 105);
}
h3{
    color: #641e16;
}
h2{
    color: #CD6155;
}
.calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
  }
.homemade-apple-regular {
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
  }
   
  
  